FORGE_URL=https://forge.iinia.ai/api/swagger/
FORGE_USERNAME=
FORGE_PASSWORD=
FORGE_TOKEN=
CVAT_URL=https://app.cvat.ai
CVAT_USERNAME=
CVAT_PASSWORD=
CVAT_TOKEN=
MODEL_DIR=models
CAPTURE_DIR=captures
SIMULATION_MODE=true
